body {
	width: 700px;
	margin: 60px auto;
	font-family: sans-serif;
	line-height: 1.5;
	color: #555;
	font-size: 18px;
	font-weight: lighter;
}

h1, h2, h3, h4, h5 {
	color: #000;
	font-weight: normal;
	line-height: 1.2;
	margin: 40px 0px 30px 0px;
} 

h1 {
	padding-top: 150px;
	font-size: 400%;
}

h2 {
	font-size: 220%;
}

h3 {
	font-size: 200%;
}

h4 {
	font-size: 180%;
}

p {
	text-align: justify;
	margin: 20px 0px;
}

dd {
	text-align: justify;
	margin-bottom: 20px;
}

li {
	line-height: 1.3;
	margin-bottom: 10px;
}

code {
	color: #000;
}

pre {
	background: #000;
	color: #ccc;
	padding: 10px 10px;
	/*white-space: normal;*/
	border-radius: 4px;
	overflow: auto;
}

hr {
	border: none;
	border-bottom: 1px dotted #000;
	margin-right: 1px;
}

div.node {
	font-size: 13px;
}

div.node p {
	margin-bottom: 0px;
}
